<%= form_with(model: @item, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <span class="image">
      <%= f.file_field :image %>
    </span>
    <%= f.text_area :name, placeholder: "商品名を入力してください" %>
    <%= f.text_area :content, placeholder: "商品の説明を入力してください" %>
    <%= f.text_field :brand, placeholder: "商品のブランドを入力してください" %>
    <%= f.select :size, [["24cm以下", "24cm以下"],["24.5cm", "24.5cm"],["25cm", "25cm"],
                            ["25.5cm", "25.5cm"],["26cm", "26cm"],["26.5cm", "26.5cm"],
                            ["27cm", "27cm"],["27.5cm", "27.5cm"],["28cm", "28cm"],
                            ["28.5cm", "28.5cm"],["29cm", "29cm"],["29cm以上", "29cm以上"],],
                            include_blank: "サイズを選択して下さい" %>
    <%= f.select :status, [["未使用新品", "未使用新品"],
                            ["ほとんど使用していない", "ほとんど使用していない"],
                            ["やや使用感あり", "やや使用感あり"],
                            ["使用感あり", "使用感あり"],
                            ["ジャンク品", "ジャンク品"]],
                            include_blank: "商品の状態を選択して下さい" %>
    <%= f.label :shitagaki, class: "checkbox inline" do %>
       <%= f.check_box :shitagaki %>
       <span>下書きに保存する</span>
    <% end %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
  $("#item_image").bind("change", function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert("Maximum file size is 5MB. Please choose a smaller file.");
      $("#item_image").val("");
    }
  });
</script>
