<section class="user-image">
  <% if @user.image.attached? %>
    <%= link_to image_tag(@user.image.variant(gravity: :center, resize:'250x250^', crop:"250x250+0+0").processed), user_path(@user) %>
  <% else %>
    <%= link_to image_tag('profile.png'), item_path(@user) %>
  <% end %>
</section>
<section class="user-info">
  <h2><%= @user.name %>さん</h2>
  <p>お住まいの地域：<%= @user.address %></p>
  <% if logged_in? %>
    <% if current_user == @user %>
      <p><%= link_to "いいねした商品一覧", item_likes_path(@items) %></p>
      <p><%= link_to "下書き一覧", shitagaki_path %></p>
      <p><%= link_to "出品する", new_item_path %></p>
      <p><%= link_to "ユーザ情報の編集", edit_user_path(@user) %></p>
      <p><%= link_to "DM一覧", rooms_path %></p>
      <p><%= button_to "退会する", @user, method: :delete, class: "btn btn-danger" , data: { confirm: "本当に退会してよろしいですか?" } %></p>
    <% else %>
      <% if @isRoom == true %>
        <p>
          <a href="/rooms/<%= @roomId %>">DM画面へ</a>
        <% else %>
          <%= form_with(model: @room, local: true) do |f| %>
          <%= fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, :value=> @user.id %>
        <% end %>
        <%= f.submit "DMを送る" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</section>