<% provide(:title, 'トップページ') %>

  <%= render 'shared/search' %>
  <%= render 'sidebar' %>
  <div class="col-md-9">
    <h2>新着商品</h2>
    <%= will_paginate @items, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
    <% if @items == [] %>
      検索結果がありません。
    <% else %>
      <ul class="itemindex">
        <%= render @items %>
      </ul>
    <% end %>
    <%= will_paginate @items, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
  </div>