<header class="navbar navbar-inverse p-4">
  <div class="container">
    <%= link_to "Trading", root_path, id: "logo" %>
    <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <li><%= link_to current_user.name, current_user %></li>
        <li><%= link_to "出品", new_item_path %></li>
        <li><%= link_to "Tradingとは？", help_path %></li>
        <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
        <li><%= button_to "ログアウト", logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "新規登録", signup_path %></li>
        <li><%= link_to "Tradingとは？", help_path %></li>
        <li><%= link_to "ログイン", login_path %></li>
      <% end %>
    </ul>
  </div>
  <!-- 画面が狭くなるから画像はトップページだけ表示するようにしたほうがいい？ -->
  <div class="background"></div>
</header>